/* FONT Definitions =================================
=====================================================*/
/* PTSans Bold font for any text ++++++++++++++++++++++++++++++++++++++*/

@font-face {
    font-family: 'Yanone_font';
    src: url('fonts/PTSB-webfont.eot');
    src: url('fonts/PTSB-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/PTSB-webfont.ttf') format('truetype'),
        url('fonts/PTSB-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

