<div class="bgLogin" ng-controller="MainController">
    <div class="userDialogWrapper">
        <div class="loginLogo">
            <img src="images/loginLogo.png" class="logoImg">
            <div class="logoText">
                Sample SPA
            </div>
            <div class="alert alert-info" ng-show="message">{{message}}</div>
        </div>
        <form class="signIn" id="signNavigate">
            <a href="#/signin" class="signIn">Sign In</a>
            <a href="#/signup" class="signUp">Sign Up</a>
        </form>
    </div>
</div>