<div class="bgLogin">
    <div class="userDialogWrapper">
        <form role="form" class="signUp" id="signUp">
            <a href="#" class="addPicture"><img src="images/user.png" class="signupImg"></a>

            <div class="alert alert-danger" ng-show="errorMessage">
                {{errorMessage}}
            </div>

            <!--<img src="images/userSignupCamera.png" class="signupImg"> add this when loading-->
            <div class="form-group">
                <input type="text" class="form-control" id="inputName"  ng-model="user.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail"  ng-model="user.email" placeholder="Email"
                        ng-readonly="state == 'EDIT'">
            </div>
            <div class="form-group">
                <input type="code" class="form-control" id="inputCode"   ng-model="user.code" placeholder="Code">
            </div>
            <button type="submit" class="signUp" ng-click="clickSignUp()">Sign Up</button>
        </form>
        <div class="termsPrivacy">
            By creating an account you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        </div>
        <a href="#" class="back">Back</a>
    </div>
</div>